<!doctype html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Handlebars</title>
    </head>
    <body>
        <h1>Sakila Movie Database - Handlebars</h1>

        <table border="1">
          <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Special Features</th>
          </tr>
          </thead>
          <tbody>
            {{#each films}}
              <tr>
                <td>{{ this.film_id }}</td>
                <td>{{ this.title }}</td>
                <td>{{ this.description }}</td>
                <td>{{ this.release_year }}</td>
                <td>{{ this.rating }}</td>
                <td>{{ this.special_features }}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>

    </body>
</html>
